.DS_Store
Build/
DerivedData/
BuildArtifacts/
*.ipa
*.xcarchive
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint
xcuserdata/
.refs/
.env
.env.*
*.log
log-*.txt
Config.xcconfig
Secrets.xcconfig
Config/Secrets.xcconfig
Config/Local.xcconfig
tmp/
